/* ----- RESET (based on the work of Richard Clark - http://richclarkdesign.com) ----- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video,summary,figcaption{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
a{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}
input,select{vertical-align:middle;}
/* ----- /RESET ----- */

body {
	background: #ffffff url(../images/bg-slice.gif) repeat-x left top;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: auto;
	background-color: #ffffff;
}

h1 a {
	background: url(../images/branding.png) no-repeat left top;
	width: 210px;
	height: 44px;
	display: block;
	text-indent: -1000em;
	overflow: hidden;
	margin: 40px 0 0 30px;
}

h3 a{
	color: #e2f2f5;
	font-size: 30px;
	text-decoration: none;
}

h3 a:hover {
	color: #3c2531;
}

div#content {
	background: url(../images/grass-seamless.png) repeat-x left top;
	height: auto;
}

#portfolio {
	width: 460px;
	margin: 0 auto;
}

#content ul {
	padding-top: 30px;
	margin: 30px 0;
	list-style: none;
}   

#content ul li {
	border: 1px solid #fb6a78;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #fb6a78;
	padding: 20px;
	margin: 30px;
	width: 360px;
}

#content span {
	display: block;
	margin: 5px 0;
}

#content .client {
	color: #fff;
	font-style: italic;
	font-size: 11px;
}

#content .agency {
	color: #fff;
	font-style: italic;
	font-size: 11px;
}

#content .role {
	color: #3c2531;
	font-size: 11px;
}

/**** HIDDEN STUFF ***/
#content ul li#BackPack, #content ul li#Guy, #content ul li#Sound {
	display: none;
}